In [27]:
import numpy as np
import pandas as pd

TASK-1

In [93]:
df=pd.DataFrame(data={
    'col-1':np.random.randint(0,11,5),
    'col-2':np.random.randint(11,21,5),
    'col-3':np.random.randint(11,31,5),
    'col-4':np.random.randint(11,41,5)})

TASK-2

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col-1   5 non-null      int32
 1   col-2   5 non-null      int32
 2   col-3   5 non-null      int32
 3   col-4   5 non-null      int32
dtypes: int32(4)
memory usage: 208.0 bytes

TASK-3

In [95]:
df.describe()

          col-1      col-2     col-3      col-4
count  5.000000   5.000000   5.00000   5.000000
mean   4.800000  14.200000  21.20000  34.000000
std    3.701351   4.086563   4.38178   7.071068
min    0.000000  11.000000  17.00000  23.000000
25%    2.000000  11.000000  19.00000  31.000000
50%    6.000000  12.000000  19.00000  37.000000
75%    7.000000  17.000000  23.00000  39.000000
max    9.000000  20.000000  28.00000  40.000000

df=pd.DataFrame(np.random.randint(0,11,4),np.random.randint(0,21,4),np.random.randint(0,31,4),np.random.randint(0,41,4))

TASK-4

In [96]:
df.loc[4]

col-1     9
col-2    11
col-3    19
col-4    40
Name: 4, dtype: int32

In [97]:
df.isnull().sum()

col-1    0
col-2    0
col-3    0
col-4    0
dtype: int64